In [15]:
name=[]
branch =[]
rollno=[]
uid=[]
div=[]
database={}
i=0
m = int(input('how many students enter are expected: '))
while i<m:
    n = raw_input("Enter students name: ")
    b = raw_input("Enter students branch: ")
    d = raw_input("Enter students div: ")
    u = raw_input("Enter students UID: ")
    r = raw_input("Enter students roll: ")
    #print(n,b,d,u,r)
    name.append(n)
    branch.append(b)
    div.append(d)
    uid.append(u)
    rollno.append(r)
    i+=1
for roll in range(len(rollno)):
    database[rollno[roll]] = name[roll]+', '+branch[roll]+', '+div[roll]+', '+uid[roll]
print(database)
searchroll = raw_input("enter valide students roll to search in database:")
database[searchroll]
#if roll>70:
#    print('Invalid Roll Number.\nPlease try again.')
#'Sujit', 'Instru', 'I', '18071032M09926', 902)

how many students enter are expected: 3
Enter students name: pratik
Enter students branch: mech
Enter students div: i
Enter students UID: 12312
Enter students roll: 1
Enter students name: pranav
Enter students branch: comp
Enter students div: w
Enter students UID: q
Enter students roll: 2
Enter students name: rahul
Enter students branch: it
Enter students div: q
Enter students UID: 213
Enter students roll: 3
{'1': 'pratik, mech, i, 12312', '3': 'rahul, it, q, 213', '2': 'pranav, comp, w, q'}
enter valide students roll to search in database:3

'rahul, it, q, 213'

In [11]:
database[902]

'Pratik, Mech, R, 4432131'

In [5]:
print('Name of student: ',name,'Branch of a student: ',branch)
#print('Branch of a student: ',branch)

('Name of student: ', 'Sujit', 'Branch of a student: ', 'Instru')

In [9]:
print('hi..'*3)

hi..hi..hi..

In [10]:
print(5*4)

20

In [12]:
5*2**10

5120

In [18]:
i=0
roll = []
while(i<10):
    x = int(input('enter roll number: '))
    roll.append(x)
    i+=1

enter roll number: 4
enter roll number: 12
enter roll number: 2
enter roll number: 5
enter roll number: 5
enter roll number: 3
enter roll number: 45
enter roll number: 56
enter roll number: 4
enter roll number: 8

In [19]:
roll

[4, 12, 2, 5, 5, 3, 45, 56, 4, 8]